@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.pokemon-name:first-letter {
  text-transform: uppercase;
}
