@import '/utils/variables.scss';

.error-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;

  &__error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  &__button {
    text-decoration: none;
    border: 1px solid;
    border-radius: 6px;
    padding: 10px;
    color: $tertiary-color;
    transition: 0.1s;

    &:hover {
      outline: 4px double $tertiary-color;
      background-color: $secondary-color;
      color: $primary-color;
    }
  }
}
