@import './src/utils/variables.scss';

.card {
  width: 20%;
  min-width: 326px;
  text-align: center;
  border-radius: 6px;
  border: 4px double $tertiary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $primary-color;
  padding: 10px;
  gap: 10px;
  text-wrap: wrap;
  position: relative;
  cursor: pointer;
  z-index: 10;
  transition: 0.4s;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);

  &:hover {
    scale: 1.1;
    box-shadow:
      0 8px 16px rgba(0, 0, 0, 0.2),
      0 12px 40px rgba(0, 0, 0, 0.2);
  }

  &-id {
    position: absolute;
    left: 0;
    top: 0;
    background-color: $secondary-color;
    padding: 15px;
    color: $primary-color;
    border-bottom-right-radius: 6px;
    font-size: 14px;
  }

  &-name {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-image {
    width: 50%;
  }

  @media (max-width: 1100px) {
    width: 30%;
    min-width: 326px;
  }

  @media (max-width: 800px) {
    width: 40%;
  }

  @media (max-width: 700px) {
    width: 100%;
    &:hover {
      scale: 1;
    }
  }
}

.pokemons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  align-items: center;
}
