.card {
  width: 20%;
  height: 20%;
  border-radius: 6px;
  border: 4px double black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 10px;

  &-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-image {
    width: 50%;
  }
}

.abilities-title,
.stats-title {
  font-size: 16px;
}

.abilities-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  &__item {
    list-style: none;
    font-size: 14px;
  }
}

.stat-icon {
  width: 20px;
  height: 20px;
}

.stats-list {
  &__item {
    list-style: none;
    font-size: 14px;
  }
}

.pokemons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
