@import '/utils/variables.scss';

.modal-window {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3000;
  background-color: $secondary-color;
  width: auto;
  display: flex;
  margin: 10px;
  border-radius: 6px;
  padding: 10px;
  color: $primary-color;
  border: 4px double $primary-color;
  gap: 15px;
  flex-direction: column;
}

.button-unselect,
.button-download {
  padding: 10px;
  cursor: pointer;
  background-color: $primary-color;
  border-radius: 6px;
  border: 2px solid $primary-color;
  transition: 0.1s;

  &:hover {
    outline: 4px double $primary-color;
  }
}
