.indicator-container {
  height: 45px;
}

.strength-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strength-weak {
  background-color: rgb(210, 12, 12);
  border-radius: 50px;
  width: 90%;
  height: 5px;
  margin: 7px;

  &-text {
    color: rgb(210, 12, 12);
    font-size: 18px;
  }
}

.strength-medium {
  background-color: orange;
  width: 95%;
  height: 5px;
  margin: 7px;

  &-text {
    color: orange;
    font-size: 18px;
  }
}

.strength-strong {
  background-color: green;
  width: 95%;
  height: 5px;
  margin: 7px;

  &-text {
    color: green;
    font-size: 18px;
  }
}
