@import 'src/utils/variables.scss';

.dark,
.dark .header {
  background-color: $tertiary-color !important;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1) !important;
}

.dark-card {
  color: $primary-color !important;
  background-color: $tertiary-color !important;
  box-shadow:
    0 4px 8px rgba(255, 255, 255, 0.1),
    0 6px 20px rgba(255, 255, 255, 0.1) !important;

  &:hover {
    box-shadow:
      0 8px 16px rgba(255, 255, 255, 0.2),
      0 12px 40px rgba(255, 255, 255, 0.2) !important;
    outline: 4px double $primary-color !important;
  }
}

.dark-pokeball {
  box-shadow:
    inset 0 0 10px rgba(255, 255, 255, 0.5),
    0 10px 20px rgba(255, 255, 255, 0.2) !important;
}

.dark-search-form__input {
  &:focus,
  &:hover {
    outline: 4px double $primary-color !important;
  }
}

.dark-search-form__button {
  &:hover {
    outline: 4px double $primary-color !important;
  }
}

.dark-pokemon-select {
  box-shadow:
    0 4px 8px rgba(255, 255, 255, 0.1),
    0 6px 20px rgba(255, 255, 255, 0.1) !important;
  border: 1px solid $primary-color !important;

  &:hover {
    outline: 4px double $primary-color !important;
    box-shadow:
      0 8px 16px rgba(255, 255, 255, 0.2),
      0 12px 40px rgba(255, 255, 255, 0.2) !important;
  }

  &:checked::after {
    background-image: url(/assets/icons/icon-check-light.png) !important;
  }
}

.dark-modal-window {
  background-color: $tertiary-color !important;
}

.dark-footer-container {
  background-color: $tertiary-color !important;
  box-shadow: inset 0px 5px 8px rgba(255, 255, 255, 0.1) !important;
}

.dark-container-detailsInfo {
  background-color: $tertiary-color !important;
  color: $primary-color !important;
  box-shadow:
    0 0px 16px rgba(255, 255, 255, 0.2),
    0 8px 16px rgba(255, 255, 255, 0.2) !important;
}

.dark-pokemon__button-close {
  &:hover {
    outline: 4px double $primary-color !important;
  }
}

.dark-cries-list___item-button {
  &:hover {
    outline: 4px double $primary-color !important;
  }
}

.dark-button-theme {
  background-image: url(/assets/icons/icon-sun.png) !important;
  background-color: transparent !important;
  border: 0 !important;
  background-size: 110% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.dark-button-right,
.dark-button-left,
.dark-pagination__item {
  &:hover {
    outline: 4px double $primary-color !important;
  }
}
