@import 'src/utils/variables.scss';

.main {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-cards {
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.shadow-button {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 1;
  background-color: transparent;
  top: 0;
}

.pokemons-container {
  display: flex;
  flex-direction: row;
  position: relative;
}
