@import 'src/utils/variables.scss';

.header {
  background-color: $secondary-color;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  gap: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  &-title {
    color: $primary-color;
  }
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 15px;

  &__input {
    width: 50%;
    height: 50px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid $tertiary-color;
    transition: 0.1s;
    &:focus,
    &:hover {
      outline: 4px double $tertiary-color;
    }
  }

  &__button {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 6px;
    background-image: url(/assets/icons/lens-icon.png);
    background-size: 90%;
    background-position: center;
    border: 1px solid $tertiary-color;
    transition: 0.1s;
    cursor: pointer;
    &:hover {
      outline: 4px double $tertiary-color;
    }
  }
}

.button-trigger {
  font-size: 12px;
  height: 45%;
  width: 20%;
  border-radius: 6px;
  border: 1px solid $tertiary-color;
  background-color: $primary-color;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    outline: 4px double $tertiary-color;
  }
}

.button-theme {
  background-image: url(/assets/icons/icon-moon.png);
  transform: rotateY(180deg);
  width: 55px;
  height: 55px;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

@media (max-width: 600px) {
  .logo-container {
    display: none;
  }

  .search-form__input {
    width: 80%;
  }

  .button-trigger {
    font-size: 6px;
  }
}
