@import 'src/utils/variables.scss';

.footer-container {
  background-color: $secondary-color;
  color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  position: relative;
  z-index: 500;
}

.logo-api {
  background-image: url(/assets/imgs/pokeapi.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 110px;
  height: 60px;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    scale: 1.1;
  }
}
