@import './src/utils/variables.scss';

.card {
  min-width: 400px;
  text-align: center;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color;
  color: $tertiary-color;
  padding: 10px;
  gap: 10px;
  text-wrap: wrap;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  z-index: 10;
  transition: 0.1s;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow:
      0 8px 16px rgba(0, 0, 0, 0.2),
      0 12px 40px rgba(0, 0, 0, 0.2);
    outline: 4px double $tertiary-color;

    .pokeball {
      animation: shake 0.5s infinite alternate;
    }
  }

  &-container {
    position: relative;
  }

  &-id {
    position: absolute;
    left: 0;
    top: 0;
    background-color: $secondary-color;
    padding: 15px;
    color: $primary-color;
    border-bottom-right-radius: 6px;
    font-size: 14px;
  }

  &-name {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-image {
    width: 50%;
  }

  @media (max-width: 1100px) {
    width: 30%;
    min-width: 326px;
  }

  @media (max-width: 800px) {
    width: 40%;
  }

  @media (max-width: 700px) {
    width: 100%;

    &:hover {
      scale: 1;
    }
  }
}

.pokeball {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: $primary-color;
  border: 4px solid $tertiary-color;
  box-shadow:
    inset 0 0 10px rgba(0, 0, 0, 0.5),
    0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.4s;

  &-top,
  &-bottom {
    position: absolute;
    width: 100%;
    height: 50%;
  }

  &-top {
    top: 0;
    background: $secondary-color;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    background: linear-gradient(to bottom, #d2405b, #88081f);
    border-bottom: 6px solid $tertiary-color;
  }

  &-bottom {
    bottom: 0;
    background: $primary-color;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top: 6px solid $tertiary-color;
    background: linear-gradient(to top, #fff, #ddd);
    margin-bottom: 1px;
  }

  &-center,
  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background: #c2c1c1;
    border: 4px solid $tertiary-color;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    &__button {
      width: 20px;
      height: 20px;
      border: 4px solid gray;
      border-radius: 50%;
    }
  }
}

.pokemons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: fit-content;
}

.pokemon-select {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 2000;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  transition: 0.1s;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid $tertiary-color;
  border-radius: 6px;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);

  &:hover {
    outline: 4px double;
  }

  &:checked {
    background-color: #d2405b;
  }

  &:checked::after {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(/src/assets/icons/icon-check.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  25% {
    transform: translateX(-3px) rotate(-3deg);
  }

  50% {
    transform: translateX(3px) rotate(3deg);
  }

  75% {
    transform: translateX(-3px) rotate(-3deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}
