@import 'src/utils/variables.scss';

.pokemon {
  &-details {
    width: 50%;
    display: flex;
    height: fit-content;
    background-color: $primary-color;
    padding: 20px;
    border-radius: 6px;
    flex-direction: column;
    transition: 0.4s;
    gap: 10px;
    position: sticky;
    top: 20px;
    box-shadow:
      0 8px 16px rgba(0, 0, 0, 0.2),
      0 12px 40px rgba(0, 0, 0, 0.2);
    z-index: 99;
    margin: 40px;
  }

  &__physical-info {
    display: flex;
    gap: 20px;
    font-size: 14px;
    flex-direction: column;
  }

  &__abilities-container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    font-size: 14px;
  }

  &__stats-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  &__name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__characteristics-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__types-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  &__button-close {
    background-color: $primary-color;
    border: 1px solid;
    border-radius: 6px;
    padding: 10px;
    transition: 0.1s;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(/assets/icons/icon-close.png);
    background-size: 100%;
    background-position: center;
    width: 40px;
    height: 35px;

    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
      outline: 4px double $tertiary-color;
      background-image: url(/assets/icons/icon-close-inver.png);
    }
  }

  &__cries-list {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
  }
}

.cries-list___item {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;

  &-button {
    background-image: url(/assets/icons/icon-play.png);
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-position: center;
    background-color: $primary-color;
    border-radius: 6px;
    border: 1px solid;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
      outline: 4px double $tertiary-color;
      background-image: url(/assets/icons/icon-play-inver.png);
    }

    &:disabled {
      background-color: $disabled-color;
      pointer-events: none;
    }
  }
}

.types-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;

  &__item {
    padding: 7px;
    border-radius: 6px;
    color: $tertiary-color;
  }
}

.abilities {
  &-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    &__item {
      list-style: none;
      font-size: 14px;
      border-radius: 6px;
      border: 4px double;
      padding: 5px;
    }
  }
}

.stats {
  &-title {
    font-size: 14px;
  }

  &-icon {
    width: 20px;
    height: 20px;
  }

  &-list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;

    &__item {
      list-style: none;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.loading-container {
  width: 50%;
  height: 50%;
  border: 4px double;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 20px;
}
